@charset "UTF-8";

.answer{
    visibility:hidden;
    text-align: right;
    color: red;
}
.answer::before{
    content: "答え⬇︎";
    color: #4e4e4e;
    font-size: 110%;
}
.answerhidden_off{
    visibility:visible;
}
.btn_blue{
    appearance: none;
    border: 0;
    border-radius: 5px;
    background: #4676D7;
    color: #fff;
    padding: 8px 16px;
    font-size: 16px;
}
.btn_blue:hover{
    background: #1d49aa;
}
.btn_cyan{
    appearance: none;
    border: 0;
    border-radius: 5px;
    background: #46c6d7;
    color: #fff;
    padding: 8px 16px;
    font-size: 16px;
}
.btn_cyan:hover{
    background: #1d9aaa;
}
#mondaiArea{
    margin: 10px 5px;
    padding: 10px 30px 30px;
    border: 3px solid #8888889c;  
}
#mondai_head{
    text-align: center;
    font-size: 120%;
    font-weight: bold;
}
#timer{
    text-align: right;
}
#timer::before{
    content:"StopWatch："
}
#buttonBlock{
    text-align: center;
    margin:5px 0px;
}

@media screen and (min-width: 768px){
    .resBr{display: none;}
}