@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&family=Shippori+Mincho:wght@400;800&display=swap');

/*general-------------------------------*/
*{
    margin: 0;
    padding: 0;
}
*, *::after, *::before{
    box-sizing: inherit;
}
html{
    box-sizing: border-box;
}
body{
    font-family: 'Shippori Mincho', serif, meiryo;
}
img{
    width: 100%;
}
.wrapper{
    padding: 0 4%;
    max-width: 1500px;
    margin: 0 auto;
}
.fullwidth{
    margin: 0 auto;
    max-width: 1500px;
}
a{
    text-decoration: none;
    color: #000;
}
ul{
    list-style: none;
}
b{
    background: linear-gradient(transparent 70%, rgba(255, 251, 0, 0.829) 30%);
}
h3{
    text-align: center;
    margin: 0 auto;
    display: inline-block;
    padding-bottom: 0.3rem;
    border-bottom: 1px solid #000;
}
.resbreak{
    display: none;
}



/*header------------------------------------*/
#headertop{
    position: fixed;
    top: -200px;
    z-index: 10;
    background: #fff;
    width: 100%;
    height: 10vh;
    opacity: 0;
    transition: 1s;
    display: flex;
    align-items: center;
    padding: 0 4%;
    margin: 0 auto;
}
#headertop.headershow{
    opacity: 1;
    top: 0;
}

/*mainvisual*/
#mainvisual{
    width: 100%;
    height: 105vh;
    background-image: url(mainvisual8.png);
    background-position: right;
    background-size: cover;
    position: relative;
}
#mainvisual::after{
    content: "\025bc";
    color: #fff;
    font-size: 3rem;
    position: absolute;
    bottom: 50px;
    right: 48%;
    animation: wavy 3s ease infinite;
}
 
@keyframes wavy {
  0% { transform:translateY(0) }
  50% { transform:translateY(-15px) }
  100% { transform:translateY(0) }
}

#skytextbox{
    position: absolute;
    right: 10%;
    bottom: 45%;
    width: 50%;
}
#skytext{
    object-fit: fill;
}

h1{
    letter-spacing: 1rem;
}


/*btn&nav-----*/
#btnbox{
    position: fixed;
    z-index: 30;
    right: 0;
    width: 30px;
    height: 10vh;
    margin-right: 4%;
    display: flex;
    align-items: center;
}
.toggle-btn{
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition:0.5s;
}
.toggle-btn span{
    position: absolute;
    width: 30px;
    height: 3px;
    background: #fff;
    transition: 0.5s;
}
.open .toggle-btn span{
    background: #fff !important;
}
.toggle-btn span:nth-child(1){
    top: 8px;
}
.toggle-btn span:nth-child(2){
    bottom: 8px;
}
.open .toggle-btn span:nth-child(1){
    transform: rotate(405deg) translateY(8px);
}
.open .toggle-btn span:nth-child(2){
    transform: rotate(-405deg) translateY(-8px) ;
}
.open .toggle-btn{
    transform: translateX(4px);
}



/*opennav*/
nav{
    opacity: 0;
    position: fixed;
    top: 10vh;
    left: -200px;
    transition: 0.5s;
    padding: 30px;
}
nav li{
    padding: 20px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
nav li:first-child{
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}
nav a{
    color: #fff;
    width: 200px;
    display: inline-block;
}
.open nav{
    transform: translateX(200px);
    opacity: 1;
    z-index: 30;
}


/*mask*/
#mask{
    display: none;
}
.open #mask{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    cursor: pointer;
    z-index: 20;
}


/*main---------------------------------*/
main .wrapper{
    /* 後で消す！！ */
    padding-top: 10vh; 
}

.sectiontitle{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    text-align: center;
    display: inline-block;
    font-size: 2rem;
    padding: 10px 0 0.2em;
    margin-bottom: 50px;
    position: relative;
}

.sectiontitle h2:after{
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 4px;
    background: repeating-linear-gradient(45deg, #fff, #fff 4px, #084968 4px, #084968 8px);
}

/*about*/
#about .sectioncontent{
    display: flex;
    justify-content: space-around;
    padding: 10px 5px;
    background: #e9f3fe69;
    border-radius: 5vw;
}
#about img{
    border-radius: 50%;
    width: 30vw;
    height: 30vw;
    margin: auto 0;
}
#about .profile{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#about .profile h3{
    width: 150px;
    padding-top: 20px;
}
#about .profile p{
    line-height: 3rem;
    padding: 15px 0;
}

#about .profile li{
    padding: 5px 0;
}
#about .profile li::before{
    content: '▶︎';
    padding-right: 10px;
}


/*service*/
#service .sectioncontent{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background: #3d65811e;
    border-radius: 5vw;
    padding-bottom: 20px;
}
#service .servicecontent{
    display: flex;
    flex-direction: column;
    width: 30%;
}
#service h3{
    width: 150px;
    padding-top: 30px;
}
#service img{
    padding: 3vw;
}
#service .servicecontent p{
    line-height: 2rem;
}
#service .sectionend{
    display: flex;
    justify-content: center;
    padding: 30px 0 10px;
}
#skilllist li{
    font-size: 2.5rem;
    position: relative;
}
#skilllist li::before{
    content: '□';
    font-size: 1.5rem;
    line-height: 2.5rem;
    padding-right: 10px;
    vertical-align: middle;
    color: rgba(0, 0, 0, 0.3);
}
#skilllist li p{
    display: inline-block;
    color: rgba(0, 0, 0, 0.3);
    transition: 0.5s;
}
#skilllist .checked p{
    color: rgba(0, 0, 0, 0.8);
}
#skilllist .checkmark{
    color: red;
    position: absolute;
    top: 1rem;
    left: 0.2rem;
    font-size: 1.5rem;
    opacity: 0;
}
#skilllist .checked .checkmark{
    color: red;
    opacity: 1;
    animation: checking 1s ease;
}
 
@keyframes checking {
  0% { transform:translateX(-0.5rem) }
  10% { transform:translateX(0) }
  15% { transform:translateX(-0.4rem) }
  20% { transform:translateX(0) }
  30% { transform:translateX(-0.3rem) }
  40% { transform:translateX(0) }
  50% { transform:translateX(-0.2rem) }
  60% { transform:translateX(0) }
  70% { transform:translateX(-0.2rem) }
  80% { transform:translateX(0) }
  90% { transform:translateX(-0.1rem) }
  100% { transform:translateX(0px) }
}

/*achivement*/
#achievement .sites{
    width: 100%;
    padding: 50px 30px;
    background: rgba(0, 28, 87, 0.2);
    border-radius: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#achievement .sites a{
    width: 70%;
}
#achievement .sites a:hover{
    filter: opacity(0.7);
}
.comment{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/*PR*/
#pr div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#pr p{
    display: inline-block;
    text-align: center;
    font-size: 3vw;
    line-height: 6vw;
    padding: 50px 0 0;
    font-weight: bold;
    background: linear-gradient(to bottom, #fff 0% 80% ,rgb(251, 255, 0) 100%);
}



/*contact*/
#contact .contactcomment{
    padding: 10px 0 30px;
}

table.formTable{
	width:80%;
	margin:0 auto;
	border-collapse:collapse;
}
table.formTable td,table.formTable th{
	border:1px solid #ccc;
	padding:10px;
}
table.formTable th{
	width:30%;
	font-weight:normal;
	background:#efefef;
	text-align:left;
}
table.formTable input{
    width: 90%;
}
table.formTable textarea{
    width: 90%;
}
#contact .centerflex{
    display: flex;
    justify-content: center;
}
#contact .submit-btn{
    text-align: center;
    margin: 30px 0;
    position: relative;
}
#contact .submit-btn input{
    display: inline-block;
    width: 100px;
    height: 50px;
    background: transparent;
    cursor: pointer;
    border: none;
}
#contact .submit-btn::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background:linear-gradient(to right, rgba(0, 4, 255, 0.658) ,#000 50%, rgba(0, 4, 255, 0.658) 100%);
    transform: scale(0.2,1);
    transform-origin: center;
    transition: 0.5s;
}
#contact .submit-btn:hover::before{
    transform: scale(1,1);
}

#footer{
    margin-top: 5vh;
}
#footer p{
    text-align: center;
    padding: 10px 0;
    background: #084968;
    color: #fff;
    font-size: 0.5rem;
}


/*sent----------------------------------------------*/
#message{
    color: #fff;
    background: rgba(0, 0, 0, 0.055);
    padding: 3vh 10vw;
    position: absolute;
    top: 65vh;
    left: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#message .thank{
    padding-bottom: 3vh;
}
.sent #mainvisual::after{
    content: '';
}
.back-btn{
    display: inline-block;
    color: #fff;
    width: 150px;
    height: 50px;
    line-height: 50px;;
    vertical-align: middle;
    background: rgba(6, 16, 155, 0.363);
    border-radius: 1vh;
    transition: 0.5s;
}
.back-btn:hover{
    width: 100vw;

}
.sent #mainvisual{
    height: 100vh;
}

/*responsive---------------------------------------------*/
@media screen and (max-width:700px){
    .resbreak{
        display: block;
    }
    #mainvisual::after{
        right: 43%;
    }
    #mainvisual::after{
        bottom: 100px;
    }
    #about .sectioncontent{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #about .profile{
        width: 100%;
    }
    #about img{
        margin-bottom: 20px;
    }
    #service .sectioncontent{
        flex-direction: column;
    }
    #service .servicecontent{
        flex-direction: row;
        width: 100%;
        flex-wrap: wrap;
        align-items: center;
    }
    #service .servicecontent h3{
        width: 100%;
    }
    #service .servicecontent img{
        width: 40vw;
        height: 40vw;
    }
    #service .servicecontent p{
        width: 50%;
        padding: 10px 5px;
    }
    #pr p{
        font-size: 5vw;
        line-height: 10vw;
    }

    table.formTable{
        width:100%;
    }
}


@media screen and (min-width:1890px){
    #btnbox{
        display: none;
    }
    nav{
        top:30vh;
        left: 0;
        opacity: 1;
    }
    nav li a{
        color: #000;
        width: 150px;
    }
    nav li{
        border-bottom: 1px solid rgb(0,0,0);
    }
    nav li:first-child{
        border-top: 1px solid rgb(0,0,0) ;
    }
}